<div class="row">
  <div class="col s12">
    <div class="page-subtitle">
      <h4>Positions:</h4>
      <button
        (click)="onPositionAdd()"
        class="waves-effect waves-light btn grey darken-1 btn-small"
      >Add Position
      </button>
    </div>

    <ng-container *ngIf="positions; else loader">
      <div class="collection" *ngIf="positions.length > 0; else empty">
        <a
          *ngFor="let position of positions"
          (click)="onPositionUpdate(position)"
          class="collection-item collection-item-icon">

          <span>
            {{ position.name }} <strong>{{ position.cost }}</strong>
          </span>
          <span>
            <i (click)="onPositionRemove($event, position)" class="material-icons">delete</i>
          </span>
        </a>
      </div>
      <ng-template #empty>
        <div class="center">
          There are not any positions in category.
        </div>
      </ng-template>
    </ng-container>
    <ng-template #loader>
      <app-loader></app-loader>
    </ng-template>
  </div>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <app-modal modalId="create-position">
    <modal-content>
      <h4 class="mb1">Add Position</h4>
      <div class="input-field">
        <input
          id="pos-name"
          type="text"
          formControlName="name"
          [class.invalid]="form.get('name').invalid && form.get('name').touched"
        >
        <label for="pos-name">Name</label>
        <span
          class="helper-text red-text"
          *ngIf="form.get('name').invalid && form.get('name').touched"
        >Please, enter Position name.
        </span>
      </div>
      <div class="input-field">
        <input
          id="pos-cost"
          type="number"
          min="1"
          formControlName="cost"
          [class.invalid]="form.get('cost').invalid && form.get('cost').touched"
        >
        <label for="pos-cost">Price</label>
        <span
          class="helper-text red-text"
          *ngIf="form.get('cost').invalid && form.get('cost').touched"
        >Please, enter valid Position cost.
        </span>
      </div>
    </modal-content>
    <modal-footer>
      <button
        type="button"
        class="modal-close waves-effect waves-black btn-flat"
      >Cancel</button>
      <button
        [disabled]="form.invalid || form.disabled"
        class="modal-action btn waves-effect"
      >Save</button>
    </modal-footer>
  </app-modal>
</form>
