<div class="filter">
  <div class="fr">
    <div class="col order">
      <div class="input-field inline order-position-input">
        <input type="number" id="number" min="1" [(ngModel)]="order">
        <label for="number">Order number</label>
      </div>
    </div>
    <div class="col filter-pickers">

      <app-date-picker
        (closeDatePicker)="selectStartDate($event)"
        inputId="start"
        labelText="Start"
      ></app-date-picker>

      <app-date-picker
        (closeDatePicker)="selectEndDate($event)"
        inputId="end"
        labelText="End"
      ></app-date-picker>

    </div>
  </div>

  <button
    (click)="onFilterApply()"
    [disabled]="!isDateValid"
    class="btn waves-effect wavers-light btn-small"
  >Apply
  </button>
</div>
