<app-navigation></app-navigation>

<main class="content">
  <router-outlet></router-outlet>
</main>

<app-action-button>
  <a class="btn-floating btn-large red">
    <i class="large material-icons">add</i>
  </a>
  <ul>
    <li>
      <a routerLink="/order" class="btn-floating green">
        <i class="material-icons">assignment</i>
      </a>
    </li>
    <li>
      <a routerLink="/categories/new" class="btn-floating blue">
        <i class="material-icons">list</i>
      </a>
    </li>
  </ul>
</app-action-button>
