<div class="page-title">
  <h4>Categories</h4>
  <button routerLink="/categories/new" class="waves-effect waves-light btn grey darken-1">Add category</button>
</div>

<div class="row">
  <div class="col s12">
    <ng-container *ngIf="categories$ | async as categories; else loading">
      <div class="collection" *ngIf="categories.length > 0; else empty">
        <a [routerLink]="['/categories', category._id]" *ngFor="let category of categories" class="collection-item">
          {{ category.name }}
        </a>
      </div>
    </ng-container>

    <ng-template #empty>
      <div class="center">
        You don't have any categories.
      </div>
    </ng-template>

    <ng-template #loading>
      <app-loader></app-loader>
    </ng-template>
  </div>
</div>
